.clock-container {
  @apply cursor-default;

  .time-container {
    font-size: 10rem;
    @apply font-extrabold;
    @apply text-center;
  }

  .date-container {
    @apply uppercase;
    @apply text-3xl;
    @apply tracking-wide;
    @apply font-normal;
    @apply -mt-8;
    @apply text-center;
  }

  .greeting-container {
    font-size: 5rem;
    @apply mt-2;
    @apply font-semibold;
    @apply text-center;
  }
}
