@import "../scss/variables";

.content-popup-icon {
  @apply text-4xl;
  @apply cursor-pointer;
  @apply ml-3;
}

.posts-container {
  max-height: 85vh;
  overflow-y: auto;
  // emerging W3C standard, currently Firefox-only
  scrollbar-width: $color-medium-gray $color-darker-gray;
  scrollbar-width: thin;

  // Chrome/Edge/Safari
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-medium-gray;
    border: 3px solid $color-darker-gray;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: $color-darker-gray;
  }

  .tippy-content {
    width: 85vw !important;
  }

  .list-group,
  .list-group-item {
    background-color: $color-black;
    border: 0;
    text-align: left;

    a > strong {
      font-weight: 500;
    }

    small {
      font-weight: 300;
    }
  }

  .list-group-item-action {
    cursor: default;

    &:hover {
      background-color: $color-black-ninety-percent;
    }
  }

  .list-group-item-heading {
    background-color: $color-black-ninety-percent;
    cursor: default;

    small {
      font-size: 1rem;
      font-weight: normal;
    }
  }

  .odd {
    background-color: $color-black-sixty-percent;
  }
}

.repo-language-color {
  border-radius: 50%;
  display: inline-block;
  height: .75rem;
  margin-right: .25rem;
  vertical-align: middle;
  width: .75rem;
}
