.app-name {
  @apply text-3xl;
  @apply font-normal;
  @apply m-0;
  @apply -mb-2;
}

.source-link-container {
  @apply text-sm;
  @apply font-light;

  a {
    @apply font-thin;
  }
}

.install-links {
  @apply text-3xl;

  a {
    @apply mr-2;
  }
}
