@import '~bootstrap/scss/bootstrap';
@import '~tippy.js/dist/tippy';
@import './font-roboto-slab';

$color-black: #000;
$color-white: #fff;
$color-dark-gray: #333;
$color-darker-gray: #121212;
$color-light-gray: #ddd;
$color-black-forty-percent: rgba(0, 0, 0, .4);
$color-black-sixty-percent: rgba(0, 0, 0, .6);
$color-black-ninety-percent: rgba(0, 0, 0, .9);
$color-medium-gray: #454545;

* {
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

html,
body {
  color: $color-white;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $color-darker-gray;
  background-size: cover;
  color: $color-white;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin-bottom: 60px;
}

a {
  color: $color-light-gray !important;
}

.app-name {
  font-weight: 400;
  margin: 0 !important;
}

.author-container {
  font-size: .8rem;
  font-weight: 300;

  a {
    font-weight: 200;
  }
}

.time-container {
  color: $color-white;
  font-size: 8rem;
  font-weight: 800;
}

.date-container {
  color: $color-white !important;
  font-size: 2rem;
  font-weight: 400;
  margin-top: -1rem;
}

.greeting-container {
  color: $color-white;
  font-size: 5rem;
  font-weight: 600;
}

.quote-container {
  font-size: 1.2rem;
  font-weight: 400;

  p {
    padding: 0 4rem;
  }

  .quote-author {
    font-style: italic;
    margin-top: -1rem;
  }
}

.weather-container {
  cursor: default;

  .weather-location {
    font-weight: 300;
  }

  .weather-icon,
  .weather-temp {
    font-weight: 800;
  }

  .powered-by {
    font-size: .6rem;
    font-weight: 200;
    position: relative;
    top: -.6rem;
  }

  .weather-last-updated {
    font-weight: 200;
  }
}

.footer {
  bottom: 0;
  // Set the fixed height of the footer here
  font-size: .8rem;
  font-weight: 200;
  height: 60px;
  line-height: 20px; // Vertically center the text there
  position: absolute;
  width: 100%;

  .content-icon {
    font-size: 2rem;
    cursor: pointer !important;
  }
}

.photo-overlay {
  background-color: $color-black-forty-percent;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -9999;
}

.posts-container {
  max-height: 85vh;
  overflow-y: auto;
  // emerging W3C standard, currently Firefox-only
  scrollbar-color: $color-medium-gray $color-darker-gray;
  scrollbar-width: thin;

  // Chrome/Edge/Safari
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-medium-gray;
    border: 3px solid $color-darker-gray;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: $color-darker-gray;
  }

  .tippy-content {
    width: 85vw !important;
  }

  .list-group,
  .list-group-item {
    background-color: $color-black;
    border: 0;
    text-align: left;

    a > strong {
      font-weight: 500;
    }

    small {
      font-weight: 300;
    }
  }

  .list-group-item-action {
    cursor: default;

    &:hover {
      background-color: $color-black-ninety-percent;
    }
  }

  .list-group-item-heading {
    background-color: $color-black-ninety-percent;
    cursor: default;

    small {
      font-size: 1rem;
      font-weight: normal;
    }
  }

  .odd {
    background-color: $color-black-sixty-percent;
  }
}

.repo-language-color {
  border-radius: 50%;
  display: inline-block;
  height: .75rem;
  margin-right: .25rem;
  vertical-align: middle;
  width: .75rem;
}
