$color-black: #000;
$color-white: #fff;
$color-dark-gray: #333;
$color-darker-gray: #121212;
$color-light-gray: #ddd;
$color-black-forty-percent: rgba(0, 0, 0, .4);
$color-black-sixty-percent: rgba(0, 0, 0, .6);
$color-black-ninety-percent: rgba(0, 0, 0, .9);
$color-medium-gray: #454545;
$color-body-bg: $color-darker-gray;
$color-body-text: #efefef;
